# ignore an entire directory
/node_modules/

# ignore .js, .js.map files
*.js
*.js.map

# ignore package lock json
# package-lock.json // for backword checking in case issues

# ignore a file type
# *.json

# add an exception (using !) to the preceding rule to track a specific file
# !package.json